h1 {
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: bolder;
}

.contact {
    margin: 30px 20px;
}

.quest,
.mail,
.tlf {
    margin-top: 2px;
    margin-bottom: 25px;
}

.contact-text h1,
.contact-text h2 {
    margin: 0;
}

.underline {
    text-decoration: underline;
}

.space {
    margin: 2px;
}

/* Form */

.contact-form {
    margin-top: 40px;
}

input, select, textarea {
    border: 1px solid #d9d9d9;
    border-radius: 7px;
    margin: 10px 10px 10px 0px;
    padding: 15px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.cta {
    padding: 15px 31px; 
}

textarea {
    padding: 15px 15px 120px 15px;
}