/* Header */
.header1 h1 {
    margin: 25px;
}

.header1 img {
    margin-top: 10px;
}

/* Blue part / explore */
.explore h1 {
    font-size: 1.3rem;
    font-weight: bolder;
}

.explore {
    background-color: #CCEAFA;
    padding: 2px 25px;
}


/* Yellow part / info */
.info {
    background-color: #FFFED6;
    padding: 20px 25px;
    display: grid;
    grid-template-rows: 55px 25px 25px 25px 25px 35px 115px;
}

.info .cta {
    text-align: center;
}

.info h1 {
    font-size: 1.2rem;
    margin-top: 0px;
}


/* Exhibitions and events */
.exhibition-list h2,
.upcoming-events h2 {
    margin-top: 0px;
    margin-bottom: 30px;
}

.exgrid {
    display: grid;
    grid-template-columns: 160px 160px;
    grid-gap: 16px;
    margin: 0px 12px;
    justify-content: center;
}

.exhibition-list h1,
.upcoming-events h1 {
    margin-top: 50px;
    font-size: 1.5rem;
}

.allevents {
    display: flex;
    flex-direction: column;
}

.exhibition a:hover,
.events a:hover {
    color: #FFB01F;
}



/* Applies to all */
.events img,
.exhibition-list img,
.header1 img {
    max-width: 100%;
    height: auto;
}

.explore h1,
.header1 h1,
.exhibition-list h1,
.upcoming-events h1 {
    text-transform: uppercase;

}

.header1 h1,
.exhibition-list h1,
.upcoming-events h1, 
.upcoming-events h2 {
    text-align: center;
}



/* Text that only display on larger screen/desktop */
.hide1,
.upcoming-events p {
    display: none;
}





/* Media*/

@media (min-width: 425px) {

    .exgrid {
        grid-template-columns: 195px 195px;
    }

}

@media (min-width: 550px) {

    .exgrid {
        grid-template-columns: 255px 255px;
    }

}

@media (min-width: 680px) {

    .exgrid {
        grid-template-columns: 320px 320px;
    }

}



@media (min-width: 768px) {

    .exgrid {
        grid-template-columns: 375px 375px;
    }

    .explore p,
    .info p {
        font-size: 1.1rem;
    }

    .explore h1 {
        font-size: 1.4rem;
    }

    .info {
        margin-top: 40px;
        grid-template-rows: 40px 30px 30px 30px 30px 40px 130px;
    }

    .info h2 {
        font-size: 1.2rem;
    }

    .info h1 {
        font-size: 1.4rem;
    }

    .events {
        margin: 10px;
    }

    .allevents {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 25px;
    }

    .allevents p {
        margin: 0;
    }

    .upcoming-events h2 {
        text-align: start;
    }

    .exhibition-list h1,
    .upcoming-events h1 {
    font-size: 1.8rem;
}

.header1 img {
    width: 100%;
    height: 500px;
}

.upcoming-events {
    margin-bottom: 60px;
}


}

@media (min-width: 900px) {

    .hide1,
    .upcoming-events p {
        display: block;
    }

    .exgrid {
        grid-template-columns: 440px 440px;
        justify-content: space-evenly;
    }

    .exhibition-list h1 {
        margin-bottom: 40px;
    }

    .header1 h1 {
        font-size: 2.3rem;
        margin: 40px 0px;
    }

    .exhibition h2,
    .upcoming-events h2 {
        font-size: 1.1rem;
    }

}


@media (min-width: 1024px) {

    .header1 img {
        width: 100%;
        height: 600px;
    }
    
}

@media (min-width: 1110px) {

    .exgrid {
        grid-template-columns: 580px 580px;
    }
    

}
