/* Applies to all */
body {
    font-family: "Poppins", "Verdana", "Open Sans", "Arial";
    margin: 0;
}

p {
    font-size: 0.9rem;
}

h2 {
    font-size: 1rem;
}


/* Navbar */
nav,
#menu-checkbox {
    display: none;
}

nav {
    background: #FFC55A;
    position: absolute;
    width: -webkit-fill-available;
    margin-top: 50px;
    height: -webkit-fill-available;
}

nav a {
    color: #000;
    text-decoration: none;
    margin: 10px;
    font-size: 1.1rem;
}

nav a:hover {
    color: #000;
}

#menu-checkbox:checked ~ nav {
    display: grid;
    grid-template-rows: 35px 35px 35px 35px;
    padding-top: 5px;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
}


header img {
    max-width: 200px;
    margin-left: 20px;
}

.material-symbols-outlined {
    font-size: 35px;
    margin-right: 15px;
}

header img,
.material-symbols-outlined {
    margin-top: 10px;
}


/* Section under navbar with opening hour */
.openinghours {
    background-color: #FFB01F;
    text-align: center;
    color: #FFF;
    font-size: 0.9rem;
}

.openinghours h2 {
    text-transform: uppercase;
}


/* Styling tour bottom */
.cta {
    background-color: #000;
    color: #FFF;
    text-transform: uppercase;
    padding: 15px 100px;
}

.cta:hover {
    background-color: #FFB01F;
    color: #000;
}

.info a {
    justify-self: center;
}


/* Footer */
footer {
    background: #FFC55A;
}

.footer-c {
    display: grid;
    grid-template-rows: 120px 180px 180px 180px;
    margin: 20px;
}

.footer-heading {
    display: grid;
    grid-template-rows: 45px 30px 30px 30px;
}

a {
    text-decoration: none;
    color: #000;
    font-size: 0.9rem;
}

a:hover {
    color: #fff;
}

footer h2 {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1rem;
    color: #000;
}

.footer-b {
    font-size: 0.5rem;
    text-align: center;
}


/* Media*/

@media (min-width: 600px){

.footer-c {
    grid-template-rows: 200px;
    grid-template-columns: 270px 200px;
    justify-content: center;
}

}


@media (min-width: 768px){

.footer-c {
    grid-template-columns: 200px 190px 190px 190px;
    justify-content: space-evenly;
}

nav a {
    margin: 15px;
    font-size: 1.3rem;
}

#menu-checkbox:checked ~ nav {
    grid-template-rows: 40px 40px 40px 40px;
}
    
}


@media (min-width: 1024px) {

    header img {
        max-width: 250px;
    }

    .material-symbols-outlined {
        font-size: 50px;
    }

    nav {
        margin-top: 70px;
    }

}



