
/* Applies to all */
main h1 {
    text-transform: uppercase;
    font-weight: bolder;
    margin: 15px 25px;
}

main h2 {
    font-weight: bolder;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 40px;
}

h1 {
    font-size: 1.4rem;
}


/* Blue part / Transport */
.transport-blue {
    background: #CCEAFA;
    display: flex;
    flex-direction: column;
}


/* Yellow part / Practical info */
.yellow {
    background: #FFFED6;
}


/* Red part / Get involved */
.red {
    background: #F7D2DE;
}


/* Red, Yellow and Blue part / Applies to all */
.transport-blue, 
.red,
.yellow {
    padding: 10px 20px;
}

.yellow p,
.red p, 
.transport-blue p {
    margin-top: 2px;
    margin-bottom: 25px;
}

.yellow h2,
.red h2,
.transport-blue h2 {
    margin: 0px;
}


/* Red and Yellow part */
.practical h1,
.involved h1 {
    padding-top: 30px;
}


#room {
    margin-bottom: 5px;
}

/* Media */

@media (min-width: 768px) {

    .transport-blue {
        flex-direction: row;
    }

    .transport {
        margin: 0px 10px;
    }

}



