
/* Applies to all */

body {
    margin-top: 84px;
}

h1 {
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 800;
}

main h1 {
    margin: 105px 25px 15px;
}

main h1,
main h2 {
    text-transform: uppercase;
    font-weight: 800;
}

main h2 {
    font-size: 1rem;
}

main h3,
.yellow h3,
.red h3,
.transport-blue h3 {
    font-weight: 800;
    font-size: 1rem;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 40px;
}

ul {
    padding-left: 16px;
}


/* Sections - Blue, Yellow, Red */

.transport-blue, 
.red,
.yellow {
    padding: 10px 25px;
}

.yellow p,
.red p, 
.transport-blue p {
    margin-top: 2px;
    margin-bottom: 25px;
}

.transport-blue {
    background: #CCEAFA;
    display: flex;
    flex-direction: column;
}

.yellow {
    background: #FFFED6;
}

.red {
    background: #F7D2DE;
}


.transport h2 {
    text-transform: none;
    font-weight: 800;
}


/* Section Headings - Yellow and red */

.practical h2,
.involved h2 {
    padding-top: 30px;
    padding-left: 30px;
    font-size: 1.4rem;
}

#room {
    margin-bottom: 5px;
}

/* Media */

@media (min-width: 768px) {

    .transport-blue {
        flex-direction: row;
    }

    .transport {
        margin: 0px 10px;
    }

}



